* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body {
    background-color: black;
}

header,section {
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 30px;
    border-bottom: 1px solid white;
    font-weight: bold;
}

header {
    background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470");
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.purchase {
    background-color: rgb(0, 110, 255);
    font-weight: bold;
    border: 0px solid blue;
    padding: 15px;
    border-radius: 50px;
    width: 150px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 400px auto;
    gap: 30px;
}

.header-text h2 {
    font-weight: bold;
}

/* Section 2 */

.section-2 {
    background-color: rgb(0, 110, 255);
    display: flex;
    align-items: center;
    width: 100vw;
}

.container {
    width: 200px;
    display: flex;
    margin: 100px;

}

.item {
    width: 400px;
    margin: 20px;
    
}